/* kioskogeneral.css */

button {
    background-color: #61368c;
    /* Color base */
    color: #ffffff;
    /* Texto blanco */
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 8px;
    cursor: pointer;
    transition: all 0.3s ease;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    /* Sombra para dar efecto de elevación */
}

button:hover {
    background-color: #502d73;
    /* Color ligeramente más oscuro para hover */
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.3);
    /* Aumenta la sombra en hover */
    transform: translateY(-2px);
    /* Efecto de elevación en hover */
}

button:active {
    background-color: #3e245c;
    /* Color más oscuro al hacer clic */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
    /* Reduce la sombra */
    transform: translateY(1px);
    /* Efecto de clic */
}