.protocolo {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  max-width: 500px;
  text-align: left;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.protocolo:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 10px rgba(0, 0, 0, 0.15);
}

.protocolo h2 {
  font-size: 1.8em;
  color: #333;
  margin-bottom: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 100%;
}

.protocolo p {
  font-size: 1.1em;
  color: #666;
  margin-bottom: 10px;
}

.protocolo strong {
  font-weight: 600;
}

.protocolo a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #ff009d;
  color: #fff;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  text-align: center;
}

.protocolo a:hover {
  background-color: #ff66b3;
}

.protocolo a.disabled {
  pointer-events: none;
  color: #ccc;
  text-decoration: none;
}

.protocolos-container {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
  max-height: 100vh;
  overflow-y: auto;
  padding: 20px;
  box-sizing: border-box;
}

